#u3044-4, #u3047-4, #u3050-4, #u3053-4 {
    font-family: lato-n7, sans-serif;
}

#u2294-5, #u1705-4, #u2946-6, #u2952-6, #u303-10, #u321-6, #u315-4, #u330-7, #u342-16, #u2182-6, #u2188-5, #u401-12, #u413-14, #u443-11, #u479-10, #u495-8, #u529-4, #u2239-5 {
    font-family: lato-n3, sans-serif;
}

#u559-4, #u535-4, #u2236-4 {
    font-family: lato-n3, sans-serif;
}

#u570-4, #u541-4, #u2233-5 {
    font-family: lato-n3, sans-serif;
}

#u575-4, #u407-8, #u769-11, #u787-16, #u2822-6, #u2765-27, #u2747-15, #u805-7, #u2810-17, #u834-16, #u1034-8, #u2427-7, #u2424-7, #u1349-9, #u2406-7, #u2451-7, #u2478-7, #u1360-7, #u2439-7, #u2460-7, #u2442-7, #u2499-7, #u2436-7, #u2275-7, #u2496-7, #u1394-11, #u13576-7 {
    font-family: lato-n3, sans-serif;
}

#u228-4, #u1804-4, #u1813-4, #u1819-4, #u1831-4, #u1873-4, #u1882-4, #u1888-4, #u1903-4, #u2756-4, #u2738-4, #u1912-4, #u2801-4, #u1918-4, #u1927-4, #u1942-4, #u1984-4, #u2008-4, #u2014-4 {
    font-family: open-sans-n4, sans-serif;
}

#u150-4, #u2941-4, #u2949-4, #u5684-8 {
    font-family: lato-n4, sans-serif;
}

#u1784-4, #u2020-4 {
    font-family: open-sans-condensed-n7, sans-serif;
}

#u1406-10, #u1417-5, #u2018-4, #u2041-4 {
    font-family: lato-n3, sans-serif;
}